* {
    box-sizing: border-box;
}

.card {
    width: 350px;
    padding: 20px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}